*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container {
    width: 80%;
    margin: auto;
}

/* Header Section */
.hero header{
    height: 90vh;
}
/* /Header Section */

/* Navbar Section */
.hero .navbar {
    background-color: #252f31;
    color: #fff;
    height: 10vh;
}

.navbar h2 {
    text-transform: uppercase;
}

.navbar h2 span {
    color: #2ecc71;
}

.navbar .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar .container ul li {
    padding-left: 10px;
}

/* /Navbar Section */

/** Features **/
.features .row{
    display: flex;
}

.features h2{
    text-transform: uppercase;
}

/** /Features **/

/** About Me**/
.about{
    background-color: #f2f2f2;
}
.about .about-image img{
    width: 100%;
}
.about .row {
    display: flex;
}
.about .about-grid{
    display: flex;
}
/** /About Me **/


/** skills **/
.skills .row {
    display: flex;
}
/** /skills **/

/** Resume **/
.resume{
    text-align: center;
}
/** /Resume **/