:root {
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green:  #2ecc71;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

button{
    cursor: pointer;
    outline: none;
    font-size: 1rem;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
/* Header Section */

.hero header{
    height: 90vh;
    background: var(--color-darkblue);
    z-index: -1;
    background-image: linear-gradient(
        115deg,
        rgba(0, 0, 0, 0.8),
        rgba(34, 34, 34, 0.8)
    ),
    url("../assets/img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.hero header .container {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero header .intro{
    text-align: center;
}

.hero header .intro h2{
    font-size: 3.5rem;
    padding: 1rem 2rem;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.hero header .intro button{
    margin-top: 1.2rem;
    padding: .6rem 1.5rem;
    background: none;
    color: white;
    border: 2px solid white;
    font-weight: bold;
}


/* /Header Section */

/* Navbar Section */
.hero .navbar {
    background-color: #252f31;
    color: #fff;
    height: 10vh;
}

.navbar h2 {
    text-transform: uppercase;
}

.navbar h2 span {
    color: var(--color-green);
}

.navbar .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container ul {
    display: flex;
    align-items: center;
}

.navbar .container ul li {
    padding-left: 1.3rem;
}

.navbar ul li a{
    color: white;
}
.navbar ul li a:hover,
.navbar ul li.active a{
    color: var(--color-green);
}
/* /Navbar Section */

/** Features **/
.features .row{
    display: flex;
}

.features h2{
    text-transform: uppercase;
}

/** /Features **/

/** About Me**/
.about{
    background-color: #f2f2f2;
}
.about .about-image img{
    width: 100%;
}
.about .row {
    display: flex;
}
.about .about-grid{
    display: flex;
}
/** /About Me **/


/** skills **/
.skills .row {
    display: flex;
}
/** /skills **/


/** Resume **/
.resume{
    text-align: center;
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
}
/** /Resume **/

/** EduExp **/
.edu-exp{
 padding-top: 30px;
 padding-bottom: 30px;   
}
/** /EduExp **/


/** Testimonials **/
.testemonials{
    text-align: center;
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
}
/** /Testimonials **/

/* Portfolio */
.portfolio{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

/* /Portfolio */

/** Contact ****/
.contact {
    background-color: #252f31;
}
.contact h2{
    color: #fff;
}
.contact p {
    color: #6a6e71;
}

/** /Contact ***/

/** /Footer ***/
.footer{
    background-color: #191e22;
    color: #6a6e71;
    text-align: center;
    padding: 20px 0;
}
/** /Footer ***/